<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "edu.iupui.stp.GlipocalypseMusic"
        version     = "1.0.0" >

    <name>GlipMusic</name>

    <description>
        A simple description for the Glipocalypse music app.
    </description>

	<gap:platform name="ios" />
</widget>